<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388259755156-7n15d7hobmac2psbo5ug7s97bfbu7eu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388259755156-7n15d7hobmac2psbo5ug7s97bfbu7eu3</string>
	<key>API_KEY</key>
	<string>AIzaSyC0gFMlIQOk_3u8VDihtytmYCDldrqXktE</string>
	<key>GCM_SENDER_ID</key>
	<string>388259755156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>fiuber-36b86</string>
	<key>STORAGE_BUCKET</key>
	<string>fiuber-36b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388259755156:ios:c3c30eef56ca7026e9f081</string>
</dict>
</plist>